<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new post</title>
</head>

<body>

    <form action="/upload" enctype="multipart/form-data" method="post">
        <input type="text" name="caption" placeholder="type your captions here .......">
        <input type="file" name="file">
        <button type="submit">upload file</button>
    </form>
</body>

</html>